.pageContainer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    align-items: center;
}
.inputs {

    display: flex;
    flex-direction: column;
    gap: 24px;
}
.foter {
    display: flex;
    flex-direction: row;
}